.page-content {
  padding: 1rem;
  background-color: #eeeeee;
}

.page-content > .mdl-card {
  width: 100%;
}

.page-content > :not(:first-child) {
  margin-top: 1rem;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  padding-top: 10px;
}

.icon-group {
  display: flex;
  justify-content: flex-end;
}

.icon-group i {
}

.grains-table {
  width: 100%;
  border: none;
}

.grains-table tr:last-child td {
  border: none;
}

.wd-100 {
  width: 100%;
}

.wd-auto {
  width: auto;
}

.text-right {
  text-align: right !important;
}
