/* TODO[sgillespie]:
 * 
 *  * Remove styles that have been ported
 *  * Port responsive styles
 */
body {
  margin: 0;
}

/* TODO: Port me */
@media (min-width: 768px) {
  .mdl-layout__drawer-button { 
    display: none;
  }
}

@media (max-width: 767px) {
  .mdl-layout-spacer {
    display: none;
  }

  .mdl-layout__header-row {
    justify-content: space-around;
  }

  .mdl-layout__header-row > .mdl-navigation {
    display: none;
  }
}

/* TODO: Port me now! */
.page-content {
  padding: 1rem;
  background-color: #eeeeee;
}

.page-content > .mdl-card {
  width: 100%;
}

.page-content > :not(:first-child) {
  margin-top: 1rem;
}

/* TODO: Port me */
.mdl-button:hover{
	/*background-color: transparent;*/
	color: rgb(83,109,254);
}

/* TODO[sgillespie]: Review grains-table alignment */
.grains-table .mdl-textfield {
  width: auto;
  padding: 0;
}

.grains-table input {
  font-size: 14px;
}

/* TODO[sgillespie]: Port me */
.grains-table td {
  width: 24%;
}

.grains-table tr td:last-child {
  width: 4%;
}
