@media (min-width: 768px) {
  .mdl-layout__drawer-button { 
    display: none;
  }
}

@media (max-width: 767px) {
  .mdl-layout-spacer {
    display: none;
  }

  .mdl-layout__header-row {
    justify-content: space-around;
  }

  .mdl-layout__header-row > .mdl-navigation {
    display: none;
  }
}

.mdl-navigation__link {
  opacity: .8;
}

.mdl-navigation__link:hover {
  opacity: 100;
}

.page-content {
  padding: 1rem;
  background-color: #eeeeee;
}

.page-content > .mdl-card {
  width: 100%;
}

.page-content > :not(:first-child) {
  margin-top: 1rem;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  padding-top: 10px;
}

.icon-group {
  display: flex;
  justify-content: flex-end;
}

.grains-table {
  width: 100%;
  border: none;
}

.wd-100 {
  width: 100%;
}

.wd-auto {
  width: auto;
}

.text-right {
  text-align: right !important;
}

.mdl-button:hover{
	/*background-color: transparent;*/
	color: rgb(83,109,254);
}


